


<h1 class="centertitle thin" style="margin:60px 0 60px">I T I N E R A R Y</h1>

<p class="centertext" style="margin: 30px 10%">
	<span class="itgray">September 23rd - October 9th:</span>
	<span class="itblue bot"> JOHANNESBURG, CAPETOWN, WINDHOEK</span><br>
	<span class="itgray">October 10th - November 23rd:</span>
	<span class="itblue bot"> DAR ES SALAAM, ZANZIBAR, MT. KILIMANJARO</span><br>
	<span class="itgray">November 24th - December 8th:</span>
	<span class="itblue bot"> CAIRO, RED SEA </span><br>
	<span class="itgray">December 9th - December 19th:</span>
	<span class="itblue bot"> ISTANBUL</span><br>
	<span class="itgray">January 7th - February 3rd:</span>
	<span class="itblue bot"> MUMBAI, DEHLI, KERALA</span><br>
	<span class="itgray">February 4th - March 1st:</span>
	<span class="itblue bot"> BANGKOK, HO CHI MINH, DENPASAR</span><BR>
	<span class="itgray">March 2nd - March 30th:</span>
	<span class="itblue bot"> SHANGHAI, CHENGDU, BEIJING, ULAANBAATAR</span><br>
	<span class="itgray">March 31st - April 8th:</span>
	<span class="itblue bot"> TOKYO</span><br>
	<span class="itgray">March 9th - March 11th:</span>
	<span class="itblue bot"> GUAM</span><br>
	<span class="itgray">March 12th - May 2nd:</span>
	<span class="itblue bot"> CAIRNS, SYDNEY, MELBOURNE</span><br>
	<span class="itgray">May 3nd - May 13th:</span>
	<span class="itblue bot"> AUCKLAND, CHRISTCHURCH</span><br>
	<span class="itgray">May 14th - May 18th:</span>
	<span class="itblue bot"> SAN FRANCISCO</span><br>
	<span class="itgray">May 19th - June 3rd:</span>
	<span class="itblue bot"> NEW YORK</span><br>
	<span class="itgray">June 4th - June 13th:</span>
	<span class="itblue bot"> BELIZE</span><br>
	<span class="itgray">June 14th - July 4th:</span>
	<span class="itblue bot"> LIMA, MACHU PICCHU</span><br>
	<span class="itgray">July 5th - July 29th:</span>
	<span class="itblue bot"> BUENOS AIRES, PATAGONIA</span><br>
</p>
