$itblue: #030A2E;
$itgray: #AAAAAA;

* {
	font-family: 'Lato', sans-serif !important;
}

#left {
	float:left;
}

#right {
	float:right;
}

.nav {
	margin-top: 20px;
	text-align: center;
}

.footer {
	clear:both;
	text-align: center;
	margin-top: 50px;
}

.itblue {
	color: $itblue;
}

.bold {
	font-weight:bold;
}

.itgray {
	color: $itgray;
}

.divi {
	background: url('http://i58.tinypic.com/o5p186.png');
	background-repeat:repeat-y;
            margin: 0px auto 0px auto;
            width: 10%;
        	padding: 1px;
        	height: 100%;
        	min-height: 100%;
}

#mapdiv {
	width: 800px;
	height: 400px;
	position: relative;
	margin: 0px auto;
}
#listdiv {
	display:none;
}

.hidden {
	display: none;
}

.stars {
	width:15px;
	display:inline;
}

.thin {
	font-weight: 100;
}

.centertitle {
	text-align: center;
	font-size: 50px;
	letter-spacing:7px;
	margin:50px 0;
}

.centertext {
	text-align: center;
	font-size: 20px;
	line-height: 33px;
}


.center {
	margin: 0px auto;
	display: block;
}

.commentbox {
	background: url('http://i59.tinypic.com/2drfkfb.png');
	background-repeat:repeat;
	padding: 1px 10px;
	width: 500px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.column {
	margin:10px 20%;
}

h2 {
	margin:30px 20%;
	width: 500px;
}

.com {
	position: absolute;
}

.comstyle {
	padding: 1px 1px 2px 1px;
	border: 1px black solid;
	background:#fff;

}

.liststyle {
	margin: 3px auto;
	text-align:center;
	width:100px;
}

p {
	margin:30px 20%;
}

html,body {
	margin: 0px;
            padding: 0px;
            height: 100%;
}

body {
	background-color: #fff;
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
	color: #000;
	background:#fff;
	text-decoration:none;

	&:visited {
		color: #666;
	}
	&:hover {
	}
}

div {
	&.field, &.actions {
		margin-bottom: 10px;
	}
}

#notice {
	color: green;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: 12px;
		list-style: square;
	}
}
@media (max-width: 1030px) {
	#mapdiv {
		display: none;
	}
	#listdiv {
		display: initial;
	}
}
@media (min-width: 1400px) {
	#mapdiv {
		width: 1100px;
		height: 550px;
	}
}
