* {
	font-family: 'Lato', sans-serif !important;
}

#left {
	float:left;
}

#right {
	float:right;
}

.divi {
	width: 10%;
	height: 100%;
	background: url('http://i58.tinypic.com/o5p186.png');
/*	http://i61.tinypic.com/fzajqc.png
*/	position:relative;
}

#mapdiv {
	width: 800px;
	height: 400px;
	position: relative;
	margin: 0px auto;
}
#listdiv {
	display:none;
}

.hidden {
	display: none;
}

.stars {
	width:15px;
	display:inline;
}

.thin {
	font-weight: 100;
}

.centertext {
	text-align: center;
}

.center {
	margin: 0px auto;
	display: block;
}

.commentbox {
	background: url('http://i59.tinypic.com/2drfkfb.png');
	background-repeat:repeat;
	padding: 1px 10px;
	width: 500px;
}

.column {
	margin:10px 20%;
}

h2 {
	margin:30px 20%;
	width: 500px;
}

.com {
	position: absolute;
}

.comstyle {
	padding: 2px;
	border: 1px black solid;
	background:#fff;

}

.liststyle {
	margin: 3px auto;
	text-align:center;
	min-width: 100px;
	max-width: 150px;
}

p {
	margin:30px 20%;
}

html,body { height:100%; }

body {
	background-color: #fff;
	color: #333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
	color: #000;
	background:#fff;
	text-decoration:none;

	&:visited {
		color: #666;
	}
	&:hover {
/*		display: block;
		color: #fff;
		background-color: #000;*/
	}
}

div {
	&.field, &.actions {
		margin-bottom: 10px;
	}
}

#notice {
	color: green;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	h2 {
		text-align: left;
		font-weight: bold;
		padding: 5px 5px 5px 15px;
		font-size: 12px;
		margin: -7px;
		margin-bottom: 0px;
		background-color: #c00;
		color: #fff;
	}
	ul li {
		font-size: 12px;
		list-style: square;
	}
}
@media (max-width: 1030px) {
	#mapdiv {
		display: none;
	}
	#listdiv {
		display: initial;
	}
}
@media (min-width: 1400px) {
	#mapdiv {
		width: 1100px;
		height: 550px;
	}
}
